<div ng-controller="SessionController as session">
    <label class="label">Select Session Semester</label>
    <div class="select">
        <select ng-model="session.select" ng-change="session.select()" ng-model-options=" {getterSetter: true }">
            <option ng-repeat="ss in session.getAll()" value="{{ss.sesi_semester_id}}">
                <!-- {{ss.sesi}} - {{ss.semester}} -->
                {{ss.sesi_semester_id | SessionFilter}}
            </option>
        </select>
    </div>

    <button class="button is-primary" ng-click="session.update()"
        ng-class="{true:'is-loading', false:''}[session.getLoading()]">Update</button>
</div>