<ng-controller ng-controller="LecturerController as lecturer" ng-init="lecturer.checkData()">

    <!-- Lecturer Workload View Mode Selector -->

    <!-- <div class="box">
        <label class="label">Select Workload View Mode</label>
        <div class="select">
            <select ng-model="workload.viewMode">
                <option value="columnChart"> Column Chart</option>
                <option value="table"> Table</option>
            </select>
        </div>
    </div> -->

    <!-- Table -->

    <!-- Lecturer Selector -->

    <div class="box">
        <label class="label">Select Lecturer</label>
        <div class="select">
            <select ng-model="lecturer.select" ng-change="lecturer.select()" ng-model-options=" {getterSetter: true }">
                <option ng-repeat="l in lecturer.getAllName" value="{{l.id}}">
                    {{l.name | TitleCase}}
                </option>
            </select>
        </div>
    </div>

    <div class="box">
        <div class="table-container">
            <table class="table is-striped is-bordered is-hoverable">
                <thead>
                    <tr>
                        <th>Session</th>
                        <th>Overall Workload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="workload in lecturer.getWorkload()"">
                        <td>{{ workload.session_id | SessionFilter }}</td>

                        <td ng-class=" lecturer.getColorByValue(workload.overall_workload)">
                        {{ workload.overall_workload | number : 3 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <canvas id="bar"
         class="chart chart-bar" 
         chart-data="lecturer.columnData" 
         chart-labels="lecturer.columnLabels" 
         chart-colors="lecturer.columnColors" 
         chart-options="lecturer.columnOptions"
         height="50px"
         >
        </canvas>
    </div>

</ng-controller>