<ng-controller ng-controller="WorkloadController as workload" ng-init="workload.checkData()">

    <!-- Doughnut Chart -->

    <div class="box">
        <progress ng-hide='workload.getLoading()' class="progress is-small is-success" max="100">20%</progress>
        <label class="label">Workload Summary</label>
        <canvas id="bar" class="chart chart-doughnut" chart-data="workload.summaryData()"
            chart-labels="workload.summaryLabels" chart-colors="workload.summaryColors" chart-options="workload.summaryOptions" height="100px">
    </div>

    <!-- Workload View Mode Selector -->

    <div class="box">
        <label class="label">Select Workload View Mode</label>
        <div class="select">
            <select ng-model="workload.viewMode">
                <option value="columnChart"> Column Chart</option>
                <option value="table"> Table</option>
            </select>
        </div>
    </div>

    <!-- Column Chart -->

    <div class="box" ng-hide="workload.viewMode!='columnChart'">
        <progress ng-hide='workload.getLoading()' class="progress is-small is-success" max="100">20%</progress>
        <canvas id="bar" class="chart chart-horizontalBar" chart-data="workload.columnData()"
            chart-labels="workload.columnLabels()" chart-series="workload.columnSeries" chart-options="workload.columnLegend"
            height="1000px">
    </div>

    <!-- Table -->

    <div class="box" ng-hide="workload.viewMode!='table'">
        <progress ng-hide='workload.getLoading()' class="progress is-small is-success" max="100">20%</progress>

        <label class="label">Sort By</label>

        <div class="block">
            <button class="button is-primary" ng-click="workload.sortBy('nama')">Lecturer Name</button>
            <button class="button is-primary" ng-click="workload.sortBy('bil_subjek')">Subjects</button>
            <button class="button is-primary" ng-click="workload.sortBy('weekly_class')">Weekly Classes</button>
            <button class="button is-primary" ng-click="workload.sortBy('bil_pelajar')">Students</button>
            <button class="button is-primary" ng-click="workload.sortBy('overall_workload')">Overall Workload</button>
        </div>

        <div class="table-container">
            <table class="table is-narrow is-striped is-bordered is-hoverable">
                <thead>
                    <tr>
                        <th>Lecturer Name</th>

                        <th>Subjects</th>
                        <th>Normalized Subjects</th>

                        <th>Weekly Classes (Hour)</th>
                        <th>Normalized Weekly Classes (Hour)</th>

                        <th>Students</th>
                        <th>Normalized Students</th>

                        <th>Overall Workload</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="lecturer in workload.getWorkload() | orderBy:workload.sortProperty:workload.reverseOrder">
                        <td>{{ lecturer.nama }}</td>

                        <td>{{ lecturer.bil_subjek }}</td>
                        <td> {{ lecturer.bil_subjek_norm |number : 3 }}</td>

                        <td>{{ lecturer.weekly_class }}</td>
                        <td>{{ lecturer.weekly_class_norm | number : 3 }}</td>

                        <td>{{ lecturer.bil_pelajar }}</td>
                        <td>{{ lecturer.bil_pelajar_norm| number : 3 }}</td>

                        <td ng-class="workload.getColorByValue(lecturer.overall_workload)">
                            {{ lecturer.overall_workload | number : 3 }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</ng-controller>