<aside class="menu" ng-controller="SideNavController as sidenav">
    <!-- <p class="menu-label">General</p> -->
    <ul class="menu-list">
        <li><a class="has-text-centered" ui-sref="workload" ui-sref-active="is-active">Workload</a></li>

        <li><a class="has-text-centered" ui-sref="lecturer" ui-sref-active="is-active">Lecturer</a></li>

        <li><a ng-click="sidenav.logout()" class="has-text-centered" ui-sref-active="is-active">
                Log Out
            </a></li>

        <!-- <li><a ng-click="sidenav.logout(true)" class="has-text-centered" ui-sref-active="is-active">
                Reset
            </a></li> -->
    </ul>

    <!-- <p class="menu-label">Administration</p>
    <ul class="menu-list">
        <li><a>Team Settings</a></li>
        <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
                <li><a>Members</a></li>
                <li><a>Plugins</a></li>
                <li><a>Add a member</a></li>
            </ul>
        </li>
        <li><a>Invitations</a></li>
        <li><a>Cloud Storage Environment Settings</a></li>
        <li><a>Authentication</a></li>
    </ul>

    <p class="menu-label">Transactions</p>
    <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
    </ul> -->
</aside>